{% extends "base.html" %}
{% with request.resolver_match.view_name as view_name %}
  {% block title %}
    <title>Последние обновления избранных авторов</title> 
  {% endblock title %}
  {% block content %}
    {% if request.user.is_authenticated %}
      {% include 'posts/includes/switcher.html' %}
    {% endif %}
    {% load cache %}
      <div class="container py-5">
        {% for post in page_obj %}
          <article>{% include "posts/includes/article.html" %}</article>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      </div>
      <div class="container">
        {% include "posts/includes/paginator.html" %}
      </div>
  {% endblock content %}
{% endwith %}