{% extends "base.html" %}
{% block title %}
  <title>Записи сообщества {{ group.title }}</title> 
{% endblock title %}
{% block content %}
  <div class="container py-5">
    <h1>{{ group.title }}</h1>
    <p> {{ group.description }} </p>
    {% for post in page_obj %}
      <article>
        {% include "includes/article.html" %}
      </article>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
  <div class="container">
    {% include "includes/paginator.html" %}
  </div>
{% endblock %}